body {
  background-color: #a7bcb9;
  color: #41506b;
  font-family: "JetBrains Mono", monospace;
  background: linear-gradient(
    90deg,
    rgba(215, 179, 252, 1) 13%,
    rgba(173, 216, 250, 1) 54%,
    rgba(201, 249, 210, 1) 91%
  );
}

footer {
  color: #4c5d7a;
  text-align: center;
  font-size: 12px;
}

.main {
  border: #41506b solid 2px;
  border-style: ridge;
  border-radius: 6px;
  margin-top: 30px;
  max-width: 80%;
  background-color: #c1c1ed;
}

.temperature {
  font-size: 55px;
}

.row {
  text-align: center;
}

.col-sm-6 {
  padding: 0px;
  margin: 0 auto;
}
